.sw-color-badge--in-progress {
    background-color: rgb(24, 144, 255);
}

.sw-color-badge--completed {
    background-color: rgb(82, 196, 26);
}

.sw-color-badge--cancelled {
    background-color: rgb(255, 77, 79);
}

.sw-color-badge.is--open {
    background-color: rgb(148, 166, 184);
}

.sw-color-badge--fraud-pass {
    background-color: rgb(82, 196, 26);
}

.sw-color-badge--fraud-review {
    background-color: rgb(24, 144, 255);
}

.sw-color-badge--fraud-fail {
    background-color: rgb(255, 77, 79);
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__progress-select .sw-single-select__selection-text {
    color: #189eff !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__progress-select .sw-block-field__block {
    background-color: #e3f3ff !important;
    border: none !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__completed-select .sw-single-select__selection-text {
    color: #52c41a !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__completed-select .sw-block-field__block {
    background-color: #e6f7d9 !important;
    border: none !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__cancelled-select .sw-single-select__selection-text {
    color: #ff4d4f !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__cancelled-select .sw-block-field__block {
    background-color: #ffdbdc !important;
    border: none !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__open-select .sw-single-select__selection-text {
    color: #94a6b8 !important;
}

.sw-order-general-info__order-state .sw-order-state-select-v2.sw-order-state__open-select .sw-block-field__block {
    background-color: #e8ecef !important;
    border: none !important;
}
