{% block sw_order_detail_general %}
    <sw-card v-if="fraudScore !== 'N/A'">
        <div class="sw-order-detail-general__fraud-score">
            <strong>Fraud Risk Score:</strong>
            <span>{{ fraudScore }}</span>
        </div>
    </sw-card>

    {% parent %}
{% endblock %}
