{% block sw_order_detail_general %}
    <sw-card v-if="hasMaxMindData">
        <div class="sw-order-detail-general__maxmind-risk-scores">
            <span class="h2">
                {{ $tc('sw-order-detail-general.maxmindRiskScores.title') }}
            </span>

            <div class="sw-order-detail-general__maxmind-scores">
                <div class="sw-order-detail-general__maxmind-score">
                    <strong>{{ $tc('sw-order-detail-general.maxmindRiskScores.fraudRisk') }}</strong>
                    <span>{{ fraudScore }}</span>
                </div>
                <div class="sw-order-detail-general__maxmind-score">
                    <strong>{{ $tc('sw-order-detail-general.maxmindRiskScores.overallRiskScore') }}</strong>
                    <span>{{ overallRiskScore }}</span>
                </div>
                <div class="sw-order-detail-general__maxmind-score">
                    <strong>{{ $tc('sw-order-detail-general.maxmindRiskScores.ipRiskScore') }}</strong>
                    <span>{{ ipRiskScore }}</span>
                </div>
            </div>

            <div class="sw-order-detail-general__maxmind-actions">
                <sw-button
                    variant="primary"
                    @click="openMaxMind"
                >
                    {{ $tc('sw-order-detail-general.maxmindFraudDetection.viewInMaxMind') }}
                </sw-button>


                <sw-button
                        variant="secondary"
                        :disabled="!transactionId"
                        @click="copyTransactionId"
                >
                    {{ $tc('sw-order-detail-general.maxmindFraudDetection.copyTransactionId') }}
                </sw-button>

                <sw-button
                        variant="secondary"
                        :disabled="!warningsFactors.length"
                        @click="toggleWarningsFactors"
                >
                    {{ $tc('sw-order-detail-general.maxmindFraudDetection.viewWarningsFactors') }}
                </sw-button>
            </div>

            <div v-if="showWarningsFactors" class="sw-order-detail-general__maxmind-warnings-factors">
                <ul>
                    <li v-for="factor in warningsFactors" :key="factor">{{ factor }}</li>
                </ul>
            </div>
        </div>
    </sw-card>

    {% parent() %}
{% endblock %}
